/* GENERAL */
*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #858585;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 600;
    color: black;
}

/* UTILITY */
.container{
    width:1170px;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
header{
    margin-bottom: 40px;
}

header .brand img{
    width: 165px;
}

.menu{
    margin-top: 40px;
}

.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;

}

.menu li a:hover{
    color:black;
}


/* HERO-IMAGE */
.hero{
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 20px;
    margin-bottom: 40px;
}

.hero .image{
    height: 500px;
    background: rgba(0,0,0, .3);
    border-radius: 20px;
    position: relative;
}

.hero .image .title{
    width: 50%;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 40px;
    bottom: 80px;
}

.title h1{
    color: white;
}

/* LEADERSHIP */
.leadership{
    margin-bottom: 20px;
    background-color: dodgerblue;
}

.leadership .heading{
    height: 60px;
    margin-bottom: 40px;
    background-color: lightblue;
}

.leadership h2{
    font-size: 35px;

}

.leadership .columns .col{
    float: left;
    width: 20%;
    height: 600px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.leadership .columns .col:nth-child(2){
    width: 56%;
    margin-left: 2%;
    margin-right: 2%;
}

/* FOOTER */
footer{
    height: 60px;
    background-color: rebeccapurple;
}